
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

body {
	/* font-family: "Amatic SC", cursive; */
	font-family: 'Amiri', serif;
	padding: 20px;
	background-color: #F2F1EB;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	background-color: #4F6F52;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 800px;
}
.item {
	padding-left: 25px;
	padding-right: 25px;
}
.heading {
	text-align: center;
	border-bottom: 2px solid black;
}
h1 {
	font-size: 100px;
}
.heading span {
	font-size: 25px;
}
h2 {
	font-size: 30px;
	background: #3e2723;
	color: white;
	padding: 3px;
	border-radius: 15px;
	text-align: center;
	letter-spacing: 1px;
}

span {
	font-size: 15px;
	font-weight: bold;
	padding: 14px;
	/* letter-spacing: 1px; */
	color: #F2F1EB;
}
.heading h1{
	font-family: 'Noto Nastaliq Urdu', serif;
	font-weight: 200;
	font-size: 40px;
	color: #FEFAE0;
}
.a1{
	font-size: 9px;
}
